<div class="row">

  <div class="col-sm-3">
    <h4 class="text-muted">More Information</h4>
    <ul class="list-unstyled">
      <li>
        <%= link_to "Home", "/" %>
      </li>
      <li>
        <%= link_to "Book Us", "/contact" %>
      </li>
      <li>
        <%= link_to "About", "/about" %>
      </li>
    </ul>
  </div>

  <div class="col-sm-3">
    <%- if @instructors.size > 0 %>
      <h4>
        <%= link_to "Instructors", "/instructors" %>
      </h4>
      <ul class="list-unstyled">
        <% @instructors.each do |instructor| %>
          <%= render partial: "refinery/instructors/instructors/instructor_list_item", locals: { instructor: instructor } %>
        <% end %>
      </ul>
    <%- end %>
  </div>

  <div class="col-sm-3">
    <%- if @posts.size > 0 %>
      <h4>
        <%= link_to "Latest Posts", "/blog" %>
      </h4>
      <ul class="list-unstyled">
        <% @posts.each do |post| %>
          <li>
            <%= link_to post.title, refinery.blog_post_path(post) %>
          </li>
        <% end %>
      </ul>
    <%- end %>
  </div>

  <div class="col-sm-3">
    <%- if @events.size > 0 %>
      <h4>
        <%= link_to "Upcoming Events", "/events" %>
      </h4>
      <ul class="list-unstyled">
        <% @events.each do |event| %>
          <%= render partial: "refinery/events/events/event_list_item", locals: { event: event } %>
        <% end %>
      </ul>
    <%- end %>
  </div>

</div>
      
<div class="row mt15 mb50">
  <div class="col-xs-12">
    <div class="text-center">
      <span class='st_sharethis_large' displayText='ShareThis'></span>
      <span class='st_facebook_large' displayText='Facebook'></span>
      <span class='st_twitter_large' displayText='Tweet'></span>
      <span class='st_googleplus_large' displayText='Google +'></span>
      <span class='st_pinterest_large' displayText='Pinterest'></span>
      <span class='st_email_large' displayText='Email'></span>
    </div>
    <p class="text-muted text-center">
      <%= t('.copyright', :year => Time.now.year,
                          :site_name => Refinery::Core.site_name) %>
    </p>
  </div>
</div>

